<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <%- include('../partials/headAlert') %>
</head>
<body>

    <%- include('../partials/nav') %>
    <%- include('../partials/navAdmin') %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">

                <%- include('../partials/alert') %>
                
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px;">id</th>
                            <th style="width: 50px;">fullname</th>
                            <th style="width: 50px;">email</th>
                            <th style="width: 50px;">password</th>
                            <th style="width: 15px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                            <form action="/account/delete/<%= user.id %>" method="get">
                                <tr>
                                    <td> #<%= user.id %> </td>
                                    <td>
                                        <%= user.fullname %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <%= user.password %>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </form>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
