<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <%- include('../partials/headAlert') %>
</head>
<body>

    <%- include('../partials/nav') %>
    <%- include('../partials/navAdmin') %>

    <div class="container mt-3">
        
        <div class="row">
            <div class="col-md-12 mt-3">

                <% if (action != "undfined" && action == "create"){ %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Blog oluşturuldu!</strong>
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>

                <% if (action != "undfined" && action == "edit"){ %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Blog güncellendi!</strong>
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>

                <% if (action != "undfined" && action == "delete"){ %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Blog silindi!</strong>
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
                
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px;">id</th>
                            <th style="width: 130px;">resim</th>
                            <th>baslik</th>
                            <th style="width: 130px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% blogs.forEach(blog => { %>
                            <tr>
                                <td> #<%= blog.blogid %> </td>
                                <td>
                                    <img src="/static/images/<%= blog.resim %>" alt="" class="img-fluid">
                                </td>
                                <td>
                                    <a href="/blogs/<%= blog.blogid %>"> <%= blog.baslik %> </a>
                                </td>
                                <td>
                                    <a href="/admin/blogs/<%= blog.blogid %>" class="btn btn-sm btn-primary">Edit</a>
                                    <a href="/admin/blogs/delete/<%= blog.blogid %>" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
