<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <%- include('../partials/headAlert') %>
</head>
<body>

    <%- include('../partials/nav') %>
    <%- include('../partials/navAdmin') %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">

                <%- include('../partials/alert') %>
                
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px;">id</th>
                            <th>Baslik</th>
                            <th style="width: 130px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(category => { %>
                            <tr>
                                <td> #<%= category.categoryid %> </td>
                                <td>
                                    <%= category.name %>
                                </td>
                                <td>
                                    <a href="/admin/category/<%= category.categoryid %>" class="btn btn-sm btn-primary">Edit</a>
                                    <a href="/admin/category/delete/<%= category.categoryid %>" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
