<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <%- include('../partials/headAlert') %>
</head>
<body>

    <%- include('../partials/nav') %>
    <%- include('../partials/navAdmin') %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">

                <%- include('../partials/alert') %>
                
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px;">id</th>
                            <th>Role Name</th>
                            <th style="width: 250px;">Kullanıcı Adedi</th>
                            <th style="width: 124px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% roles.forEach(role => { %>
                            <tr>
                                <td> #<%= role.id %> </td>
                                <td>
                                    <%= role.rolename %>
                                </td>
                                <td>
                                    <%= role.user_count %>
                                </td>
                                <td>
                                    <a href="/admin/roles/<%= role.id %>" class="btn btn-sm btn-primary">Edit</a>
                                    <a href="/admin/roles/delete/<%= role.id %>" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
