<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 50px;">id</th>
            <th style="width: 130px;">resim</th>
            <th>baslik</th>
            <th style="width: 130px;"></th>
        </tr>
    </thead>
    <tbody>
        <% blogs.forEach(blog => { %>
            <tr>
                <td> #<%= blog.id %> </td>
                <td>
                    <img src="/static/images/<%= blog.resim %>" alt="" class="img-fluid">
                </td>
                <td>
                    <a href="/blogs/<%= blog.url %>"> <%= blog.baslik %> </a>
                </td>
                <td>
                    <a href="/admin/blogs/<%= blog.id %>" class="btn btn-sm btn-primary">Edit</a>
                    <a href="/admin/blogs/delete/<%= blog.id %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
