<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')  %> 
    <%- include('../partials/headAlert') %>
</head>
<body>
    
    <%- include('../partials/nav')  %>
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                
                <form method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <div class="row mb-3">
                        <label for="baslik" class="col-sm-2 col-form-label">URL</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="url" name="url">
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
                <br>

                <%- include('../partials/alert') %>

                <% if (shortUrl != null) { %>
                    <div class="container mt-5">
                        <div class="card rounded bg-primary">
                            <div class="card-body">
                                <h5 class="card-title text-white">Kısaltılmış URL:</h5>
                                <div style="display: flex;">
                                    <p id="short-url" style="margin-right: auto;" class="card-text text-white"><%= shortUrl %></p>
                                    <button id="copy-button" style="justify-content: space-between;" class="btn btn-warning">Kopyala</button>
                                </div>
                            </div>
                        </div>
                    </div>    
                <% } %>

            </div>
        </div>
    </div>

    <script>
        document.getElementById("copy-button").addEventListener("click", function() {
            var text = document.getElementById("short-url");
            var select = window.getSelection();
            var interval = document.createRange();
            interval.selectNodeContents(text);
            select.removeAllRanges();
            select.addRange(interval);

            document.execCommand("copy");
            select.removeAllRanges();

            var buton = document.getElementById('copy-button');
            buton.textContent = 'Kopyalandı ✔️';
            buton.disabled = true;
        });
    </script>

</body>
</html>