<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <%- include('../partials/headAlert') %>
</head>
<body>

    <%- include('../partials/nav') %>
    <%- include('../partials/navAdmin') %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">

                <%- include('../partials/alert') %>
                
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px;">id</th>
                            <th style="width: 200px;">Token</th>
                            <th style="width: 250px;">URL</th>
                            <th style="width: 100px;">Short URL</th>
                            <th style="width: 60px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% redirects.forEach(redirect => { %>
                            <tr>
                                <td> #<%= redirect.id %> </td>
                                <td>
                                    <%= redirect.token %>
                                </td>
                                <td>
                                    <%= redirect.url %>
                                </td>
                                <td>
                                    <%= redirect.shortUrl %>
                                </td>
                                <td>
                                    <form method="post" action="/r/short-url-delete/<%= redirect.token %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn btn-sm btn-danger">Delete</a>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                
                <% if (redirects.length > 0) { %>
                    <form method="post" action="/r/short-url-delete-all">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-lg btn-danger">DELETE ALL</button>
                    </form>
                <% } %>
                
            </div>
        </div>
    </div>
</body>
</html>
